[package]
name = "cx"
version = "0.0.0"
edition = "2021"
autotests = false

[features]
default = []
backend-llvm = ["cx-pipeline/backend-llvm"]

[dependencies]
cx-pipeline = { path = "../cx-pipeline" }
cx-pipeline-data = { path = "../cx-pipeline-data" }